<html>
    <body>
        <form method="post" action="/banner/insert" enctype="multipart/form-data">
            <input type="text" name="title"/>
            <br>
            <input type="file"  name="image"/>
            <br>
            <button>등록</button>

         

        </form>
    </body>

</html>